<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Local Headless Suite" verbose="1">
    <test name="chrome-headless">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.LoginTest"/>
        </classes>
    </test>
</suite>
